@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=EB+Garamond&family=Kaushan+Script&display=swap");
/* SCSS RESET
==================================================================================================== 
====================================================================================================
*/
html,
body,
div,
main,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 - Older browser support
====================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* BASE 10
====================================================================== */
html {
  font-size: 62.5%; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol,
ul,
li {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* IMAGES
====================================================================== */
/* img {
	display: block;
	width: 100%;
} */
nav[aria-label="pagination"] {
  text-align: center;
  clear: left; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 4rem;
  font-family: "Kaushan Script", cursive;
  color: white; }

h2 {
  font-family: "EB Garamond", serif;
  font-size: 3.3rem; }

article,
p,
a {
  font-size: 2rem;
  font-family: "Darker Grotesque", sans-serif; }

strong {
  font-size: 1.5rem;
  font-family: "Darker Grotesque", sans-serif; }

p {
  padding: 1rem; }

article > h3 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Darker Grotesque", sans-serif; }

nav > ul > li a {
  color: white;
  font-size: 3.5rem; }

h3::first-letter {
  font-size: 4rem; }

i.fa-calendar {
  color: #939597;
  font-size: 2rem; }
  i.fa-calendar:before {
    padding-right: 0.2rem;
    margin-bottom: -1rem; }
  i.fa-calendar:hover {
    color: #4caf50; }

button {
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  padding: 0.9rem; }
  button:hover {
    background-color: #4caf50;
    color: white; }

header ul > li strong {
  display: none; }

header ul > li:hover strong {
  display: block;
  text-transform: capitalize; }

header ul:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c9";
  font-weight: 900;
  font-size: 2.5rem;
  color: white; }

header ul:hover:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  font-weight: 900;
  font-size: 2.5rem;
  color: gainsboro; }

header ul:hover > li:nth-of-type(1):before {
  font-family: "Font Awesome 5 Free";
  content: "\f015";
  font-weight: 900;
  font-size: 2.5rem;
  color: white; }

header ul:hover > li:nth-of-type(4):before {
  font-family: "Font Awesome 5 Free";
  content: "\f0eb";
  font-weight: 900;
  font-size: 2.5rem;
  color: white; }

header ul > li:nth-of-type(1):hover:before {
  color: #fd8b9e; }

header ul > li:nth-of-type(4):hover:before {
  color: #f5df4d; }

main {
  margin: 0rem 1rem 0rem 1rem;
  justify-content: center; }

main {
  display: flex; }
  @media (min-width: 0px) and (max-width: 299px) {
    main {
      font-size: 0.3rem;
      flex-direction: column; } }
  @media (min-width: 300px) and (max-width: 599px) {
    main {
      font-size: 0.3rem;
      flex-direction: column; }
      main h2 {
        font-family: "EB Garamond", serif;
        font-size: 2rem; }
      main h3 {
        font-size: 1.5rem; } }
  @media (min-width: 600px) and (max-width: 799px) {
    main {
      flex-direction: row; }
      main h2 {
        font-family: "EB Garamond", serif;
        font-size: 2.5rem; }
      main h3 {
        font-size: 2rem; } }
  @media (min-width: 800px) {
    main {
      flex-direction: row; } }

section h2 {
  display: flex;
  justify-content: center; }

section ul {
  list-style: none; }
  section ul p:nth-last-of-type(1) {
    display: flex;
    justify-content: flex-end; }

header {
  width: 100%;
  background: #26a8f9;
  box-shadow: 0 8px 6px -6px black;
  padding: 1rem; }
  header nav {
    display: flex;
    flex-direction: row;
    padding: 1rem; }
    header nav h1 {
      width: calc(70% - 1em); }
    header nav ul {
      padding: 0rem;
      width: calc(30%);
      text-align: right;
      list-style: none; }

nav.article-menu {
  display: flex;
  justify-content: flex-end; }
  nav.article-menu ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-end; }
    nav.article-menu ul li {
      margin: 0 auto;
      margin-right: 0.4rem;
      border-radius: 1rem 1rem 0rem 0rem;
      background-color: white;
      max-width: 40rem;
      border-top: 1px solid #c1c1c1; }
      nav.article-menu ul li:hover strong {
        cursor: pointer;
        color: black;
        font-size: 1rem;
        text-transform: capitalize; }
    nav.article-menu ul li strong {
      display: none; }
    nav.article-menu ul i {
      color: #868686;
      font-size: 1.2rem; }
      nav.article-menu ul i:hover {
        color: #fd8b9e;
        transition-duration: 0.4s; }

section .task-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 3rem; }

section ul {
  list-style: none;
  padding: 1rem;
  margin: 0.5rem;
  background-color: gainsboro;
  border-radius: 1rem; }
  section ul li {
    padding: 1rem; }
    section ul li article {
      cursor: pointer;
      border-radius: 1rem;
      background-color: white;
      max-width: 40rem;
      box-shadow: 0 8px 6px -6px black; }
      section ul li article h3 {
        padding: 1rem; }
      section ul li article p {
        border-bottom: 1px solid #c1c1c1; }
  section ul p:nth-last-of-type(1) {
    display: flex;
    justify-content: flex-end; }
