main {
  margin: 0rem 1rem 0rem 1rem;
}
section {
  display: flex;
  @include atMediaWidth(none) {
    font-size: 0.3rem;
    // justify-content: space-around;
    flex-direction: column;
    outline: 1px dashed blue;
  }
  @include atMediaWidth(small) {
    font-size: 0.3rem;
    flex-direction: column;
    outline: 1px dashed red;
  }
  @include atMediaWidth(medium) {
    outline: 1px solid green;
    flex-direction: row;
  }
  @include atMediaWidth(large) {
    outline: 1px solid purple;
    flex-direction: row;
  }
}
